<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:replace="partial/header"></div>

<div class="container">
    <div class="row">
        <h2 class="text-center" th:text="#{catalogPage.title}"></h2>

        <p th:if="${invalidPersonNumber}" class="text-center error-message" th:text="#{catalogPage.exception.personNumber}"/>

        <p th:if="${invalidMinPrice}" class="text-center error-message" th:text="#{catalogPage.exception.minPrice}"/>

        <p th:if="${invalidMaxPrice}" class="text-center error-message" th:text="#{catalogPage.exception.maxPrice}"/>

        <div class="col-5 col-lg-3">

            <div class="filter-block pe-4 ps-4 mb-5">
                <form class="row filter-form" autocomplete="off" method="get" action="/catalog">
                    <input name="page" value="1" hidden>

                    <div class="mb-2">
                        <p class="text-center mt-2 mb-0" th:text="#{catalogPage.tourTypes}"></p>
                        <span th:each="tourType : ${tourTypeList}">
                            <div class="row mt-2">
                                <label class="col-8" th:for="${tourType.name()}" th:text="#{${'tourType.' + tourType.name}}"></label>
                                <div class="col-4" th:if="${checkedTourTypeList != null && checkedTourTypeList.contains(tourType.name())}">
                                    <input class="col-4" type="checkbox" checked name="tourType" th:value="${tourType.name()}" th:id="${tourType.name()}">
                                </div>
                                <div class="col-4" th:unless="${checkedTourTypeList != null && checkedTourTypeList.contains(tourType.name())}">
                                    <input class="col-4" type="checkbox" name="tourType" th:value="${tourType.name()}" th:id="${tourType.name()}">
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="mb-2">
                        <p class="text-center mb-2" th:text="#{catalogPage.hotelStars}"></p>
                        <span th:each="hotelType : ${hotelTypeList}">
                            <div class="row mt-2">
                                <label class="col-8" th:for="${hotelType.name()}" th:text="#{${'hotelType.' + hotelType.name()}}"></label>
                                <div class="col-4" th:if="${checkedHotelTypeList != null && checkedHotelTypeList.contains(hotelType.name())}">
                                    <input  type="checkbox" checked name="hotelType" th:value="${hotelType.name()}" th:id="${hotelType.name()}">
                                </div>
                                <div class="col-3" th:unless="${checkedHotelTypeList != null && checkedHotelTypeList.contains(hotelType.name())}">
                                    <input type="checkbox" name="hotelType" th:value="${hotelType.name()}" th:id="${hotelType.name()}">
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6 text-center">
                            <label class="mt-3" for="personNumber" th:text="#{catalogPage.personNumber}"></label><br>
                            <input class="form-control" type="text" th:value="${personNumber}" name="personNumber" id="personNumber"><br>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="text-center col-5">
                            <label for="minPrice" th:text="#{catalogPage.minPrice}"></label><br>
                            <input class="form-control" type="text" th:value="${minPrice}" name="minPrice" id="minPrice"><br>
                        </div>

                        <div class="text-center col-5">
                            <label for="maxPrice" th:text="#{catalogPage.maxPrice}"></label><br>
                            <input class="form-control" type="text" th:value="${maxPrice}" name="maxPrice" id="maxPrice">
                        </div>
                    </div>

                    <div class="text-center mt-2 mb-2">
                        <button class="btn btn-primary" type="submit" th:text="#{filterButton}"></button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-6 col-lg-8 offset-1">

            <div th:if="${pagesNumber > 0}">
                <ul class="pagination-list text-center justify-content-center">
                    <li><button type="button" th:disabled="${activePageNumber <= 1}" class="btn btn-primary" id="prevPageButton"><</button> </li>

                    <li th:value="${activePageNumber}" class="pageNumber" id="pageNumber" th:text="${activePageNumber}"></li>

                    <li><button type="button" th:disabled="${activePageNumber >= pagesNumber}" class="btn btn-primary" id="nextPageButton">></button> </li>
                </ul>
            </div>
            <div th:unless="${pagesNumber > 0}">
                <h2 class="text-center" th:text="#{catalogPage.noToursAccordingToFilter}"></h2>
            </div>


            <div th:each="tour : ${tourList}">
                <div class="tour-wrapper justify-content-center mb-5">
                    <div th:class="${'tour-block text-center tour-burning-' + tour.burning}">
                        <h3 class="text-center tour-name pt-2 pb-2" th:text="${tour.name}"></h3>

                        <div class="row justify-content-center">
                            <div class="col-2" th:text="#{tour.info.country}"></div>
                            <div class="col-2" th:text="#{tour.info.city}"></div>
                            <div class="col-1" th:text="#{tour.info.price}"></div>
                            <div class="col-3" th:text="#{tour.info.tourType}"></div>
                            <div class="col-2" th:text="#{tour.info.tourType}"></div>
                            <div class="col-2" th:text="#{tour.info.persons}"></div>
                        </div>

                        <div class="row">
                            <div class="col-2" th:text="${tour.city.country.country}"></div>
                            <div class="col-2" th:text="${tour.city.city}"></div>
                            <div class="col-1" th:text="${tour.price + '$'}"></div>
                            <div class="col-3" th:text="#{${'tourType.' + tour.tourType.value}}"></div>
                            <div class="col-2" th:text="#{${'hotelType.' + tour.hotelType.value}}"></div>
                            <div class="col-2" th:text="${tour.personNumber}"></div>
                        </div>

                        <div class="row justify-content-center mt-4 mb-2">
                            <div class="col-8 tour-date" th:text="${tour.startDate + ' : ' + tour.endDate}"></div>
                        </div>

                    </div>

                    <div class="text-center">
                        <a class="btn btn-primary text-align" th:href="@{/tour/details/{id}(id=${tour.id})}"
                           role="button" th:text="#{seeDetailsButton}"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partial/footer"></div>

<script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</body>
</html>
